{% extends "layout.html" %}

{% block content %}
<br>

<div class="container">
	<section class="jumbotron text-center">
	<div class="row">
		<div class="col-sm-6">
		<h1 class="jumbotron-heading">Spam Classification</h1>
          <p class="lead text-black">
            <h3><b>Himanshu Tripathi</b></h3>
            <p>
          Machine Learning and Data Science enthusiast, Android Developer, programmer and always willing to learn and work across new technologies and domains.</p></p>
          <p>
            <a href="#" class="btn btn-primary my-2">Follow me on GitHub</a>
            <a href="#" class="btn btn-secondary my-2">Linkedin</a>
          </p>
         
		</div>

		<div class="col-sm-6">
			<div class="container">
				<form method="POST" action="/spam">
				<textarea name="message" class="form-control" cols="8" rows="8"></textarea>
				<br>
				<button class="btn btn-success" type="submit">Analysis</button>

				<button style="margin-left: 10px;" class="btn btn-danger" type="reset">Reset</button>

			</form>
			<br>

			<div class="container">
				{% if prediction == 'ham' %}
					<div class="container">
						<p class="alert alert-success"><b>Message is not Spam</b></p>
					</div>
				{% elif prediction == 'spam' %}
					<div class="container">
						<p class="alert alert-danger"><b>Message is Spam</b></p>
					</div>
				{% endif %}
			</div>

			</div>
		</div>
	</div>
</section>

</div>	
	<!-- form area -->
	

{% endblock %}
